# macOS
.DS_Store

# Environment
.env
.env.*
!frontend/.env.production
!.env.example

# Frontend
frontend/node_modules/
frontend/dist/

# Python
backend/.venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# Logs
*.log

# Raw AI videos
ai/sign_recognition/data/raw_videos/

# Temporary/cache
.cache/
